In [74]:
web= {
    'header':'header.html',
    'footer': 'footer.html',
    'content': ''
}

In [75]:
def readfile(filename:str):
    """
    Takes in a file name and reads it
    
    """
    with open(filename, "r") as file_handle:
        file_contents = file_handle.read()
    
        return file_contents
    
def create_index(filename:str,filecontent:str):
    with open(filename, "w") as file_handle:
        file_handle.write(filecontent)

In [89]:
header_content = readfile(web['header'])
footer_content=readfile(web['footer'])
index_content=header_content+web['content']+footer_content
web['content']=df.to_html(index=False,table_id='Sales')
create_index('index.html',index_content)

In [78]:
import pandas as pd
import random as r

In [79]:
x = list(range (1,11))
y = [r.randint(1,100) for i in x]

data= {
    'x': x,
    'y': y  
}

In [80]:
df = pd.DataFrame(data)

In [81]:
df

    x   y
0   1  32
1   2  10
2   3   7
3   4  10
4   5  12
5   6  56
6   7  13
7   8   8
8   9  57
9  10  21